body {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 95vh;
}

#container {
 width: 600px;
 height: 600px;
 padding: 10px;
 margin: 5px;
}

#product-name{
 text-align: center;
 font-size: 25px;
}
#product-price{
 text-align: center;
 font-size: 30px;
 color: red;
}

#img-container{
 width: 90%;
 height: 90%;
}

#ps5 {
 width: 90%;
 height: 90%;
}

#purchase-container {
 width: 495px;
 height: 300px;
 padding: 5px;
}